# Project Files
*.vcxproj.user

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/MapConverter/MapConverter.vcxproj.user
/x64
/3rdParty/FlicLib/x64
/3rdParty/LoadPNGLib/x64
/KAOSCommon/x64
/MapConverter/x64
/3rdParty/PugiXML/x64
/TiledLib/x64
/SpriteConverter/x64
/TilesetCompiler/x64
